{% extends 'layouts/base.html.twig' %}

{% block title %}
    PANTEREST - Find all the best pins on earth !
{% endblock %}

{% block body %}
    <h1>
        All pins
    </h1>
    {% if pins is empty %}
        There are no pins...
    {% else %}
        There are {{ pluralize(pins|length, 'Pin') }} in total
        <hr />
        {% for pin in pins %}
            <article>
                <h2>
                    <a href="{{ path('app_pins_details', {id: pin.id}) }}">
                        {{ pin.title }}
                    </a>
                </h2>
                <p>
                   {{ pin.description | u.truncate(10, '...', false) }}<br/>
                   Submitted {{ pin.createdAt|ago }}
                </p>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}
