{% extends 'base.html.twig' %}

{% block title %}
    PANTEREST - Find all the best pins on earth !
{% endblock %}

{% block body %}
    <h1>All pins</h1>
    {% if pins is empty %}
        Il n'y a pas de pins...
    {% else %}
        Il y a {{ plurialize(pins|length, 'Pin') }} au total
        <hr />
        {% for pin in pins %}
            <article>
                <h2>
                    <a href="{{ path('app_pins_details', {id: pin.id}) }}">
                        {{ pin.title }}
                    </a>
                </h2>
                <p>
                   {{ pin.description | u.truncate(10, '...', false) }}<br/>
                   Submitted {{ pin.createdAt|ago }}
                </p>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}
