{% extends 'layouts/base.html.twig' %}

{% block title %}
    PANTEREST - Find all the best pins on earth !
{% endblock %}

{% block body %}
    {% if pins is empty %}
        <h1 class="text-center">
            No pins yet. <a href="{{ path('app_pins_create') }}">Be the first !</a>
        </h1>
    {% else %}
        <h1>
            There are {{ pluralize(pins|length, 'Pin') }} in total
        </h1>
        <hr />
        <div class="container gx-0">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% for pin in pins %}
                    <div class="col">
                        <article class="pin">
                            <div class="pin-image">
                                <a href="{{ path('app_pins_details', {id: pin.id}) }}">
                                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ pin.title }}" class="rounded-top w-100"/>
                                </a>
                            </div>
                            <div class="p-4">
                                <a href="{{ path('app_pins_details', {id: pin.id}) }}" class="text-decoration-none" title="{{ pin.title }}">
                                    <h2 class="text-truncate">
                                        {{ pin.title }}
                                    </h2>
                                </a>
                               <small class="text-muted">Submitted <time datetime="{{ pin.createdAt|date('Y-m-d H:i:s') }}">{{ pin.createdAt|ago }}</time> by {{ pin.user.fullName }}</small>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col mt-5">
                    <div class="d-flex justify-content-center">
                        <div class="navigation">
                            {{ knp_pagination_render(pins) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
