{% extends 'layouts/base.html.twig' %}

{% block title %}
    PANTEREST - Registration
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <article>

                <div class="text-center mb-5">
                    <h1>
                        Register
                    </h1>

                    <p class="text-muted">
                        Create your account
                    </p>
                </div>

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-error" role="alert">
                        {{ flash_error }}
                    </div>
                {% endfor %}

                {{ form_start(registrationForm) }}

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(registrationForm.firstName) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(registrationForm.lastName) }}
                        </div>
                    </div>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}

                    {{ form_row(registrationForm.agreeTerms) }}

                    <div class="d-grid mt-3">
                        <button class="btn btn-lg btn-primary" type="submit" formnovalidate>
                            Register
                        </button>
                    </div>

                    <p class="mt-5 mb-3 text-center text-muted">
                        Already have an account ? <a href="{{ path('app_login') }}">Log in</a>
                    </p>
                {{ form_end(registrationForm) }}

            </article>
        </div>
    </div>
{% endblock %}

